
<div id="calcFormIO">
    Cat Manager 2017-8
	<script type='text/javascript'>
		console.log('aaaaa');
						Formio.createForm(document.getElementById('calcFormIO'), calcForm);
		console.log('ccccccc');
		
		//query parameter -> id_token
		
		
		/*window.onload = function () {
			console.log('ddddddd');
			function loadFormIO(){
				console.log('bangg !!!');
			}
		} */
		
		//console.log('test print = '+{{userInfo.fullToken}});
		//var testEle = angular.element(document.querySelector('[ng-controller="calcCtrl"]')).scope().streetName;
		
		//angular.element(document.getElementById('homeCtrl')).scope().myfunction('test');
		angular.element(document.getElementById('homeCtrl')).scope().getToken2();
		console.log('dddddddddd');
	</script>
</div>
<div> 
	<p> Token:{{userInfo.fullToken}} </p>
</div>