<div id="proxyID">
    Proxy
	
	<script type='text/javascript'>

		//var mainURL = 'https://projed-dev-fnc.azurewebsites.net/calc/subtract/200/20';
		var mainURL = 'https://sukanya-tst-functionapp-demoproxy.azurewebsites.net/calc/100/50';
		
		//----------- 1
		/*var proxyIframe = document.getElementById("proxyIframe");
		proxyIframe.src = mainURL;*/
		
		//user token
		var userToken = angular.element(document.getElementById('proxyID')).scope().getTokenHome();
		console.log('User token = '+userToken);
		
		testAjaxFunction(mainURL,userToken).success(function(data){
				//var mainURL = 'https://sukanya-tst-functionapp-demoproxy.azurewebsites.net/calc/100/20';
				
				console.log('data = '+data);
			});
			
			
		 function testAjaxFunction (mainURL,userToken){
				return $.ajax({
				url: 'https://sukanya-tst-functionapp-demoproxy.azurewebsites.net/calc/200/50',
				beforeSend: function(xhrObj){
					//Request headers
					xhrObj.setRequestHeader ("Authorization", "Bearer " + userToken);
				},
				type: "GET",
				success: function (data, textStatus, jqXHR){
					console.log('CDNToken = '+data);
				},
				error: function(xhr, textStatus, errorThrown, response, status, error) { 
					console.log('getCDNToken Error!!');
					console.log('xhr = '+xhr);
					console.log('textStatus = '+textStatus);
					console.log('errorThrown = '+errorThrown);
					console.log('response = '+response);
					console.log('status = '+status);
					console.log('error = '+error);
				},
				});
			}
	</script>
	
	<iframe  id="proxyIframe" width="1025" height="350" sandbox="allow-same-origin allow-scripts allow-popups allow-forms">
	
	</iframe>
</div>

<!-- <div id="proxyFormIO">
	<script type='text/javascript'>
		Formio.createForm(document.getElementById('proxyFormIO'), 'https://gtdcbfvemyajgpb.form.io/lfdemoproxycalc');
	</script>		
</div> -->